 button
  {
       width: 100px;
       height: 100px; 
       border-radius: 50%;
       border: none;
       font-size:300%; 
}
.rihowhite { background:white; }
.rihoorange { color:white;background:#ffa500; }
.rihogray { color:white;background:gray;}  
.rihobox { font-size: 70px;width:420px; color:white;text-align: right;background:black;border: none; }
.rihobg { background:black; }
.rihotext {color:white; }
.riholink {cokor:green; }
.riholink:hover { color:skyblue; }
